/* Navbar */
.navbar {
    background-color: #7a64e4;
    color: #080032;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding: 1rem;
    width: 98%;
    position: relative;
}

.navbar-links {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    margin-right: 20px;
}

.navbar-links a {
    color: #080032;
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

.navbar-links a:hover {
    color: #fff;
}

.navbar-links a:active, .navbar-links a:hover {
    background-color: #080032;
    transition: 0.5s;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }
    .navbar-links {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        top: 80px;
        left: 0;
        text-align: center;
        display: none;
    }
    .navbar-links.active {
        display: block;
    }
    .navbar-links ul {
        flex-direction: column;
        align-items: center;
    }
    .navbar-links li {
        margin-bottom: 20px;
    }
    .hamburger{position: absolute;
    top:1rem;
right:1rem;
z-index:1}
}
#hamburger-icon{font-size: 24px;}

#check:checked ~ .navbar-links {
    display: block;
}