/* Navbar */
.navbar {
    background-color: #7a64e4;
    color: #080032;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding: 1rem;
    width: 100%;
    position: relative;
}

.navbar-links {
    list-style:none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar-links li {
    margin-right: 1rem;
}

.navbar-links a {
    color: #080032;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar-links a:hover {
    color: #fff;
}

.hamburger{position:relative; 
    display:block;
    width: 35px;
    cursor:pointer;
    appearance: none;
    background: none;
    outline:none; 
    border:none;}

    .hamburger.is-active ::before {
        transform: rotate(-45deg);translate: (-8px,6px);

    }
    .hamburger.is-active .bar{
        opacity: 0;transform: rotate(45deg);translate: (-9px,-8px);}

.hamburger .bar , .hamburger::after , .hamburger ::before{
    content: '';
    display: block;
    width: 100%;
    height: 
    5px;
    background-color: #fff;
    margin: 6px 8px;
    transition: 0.4s;}