/* make scrolling smooth */
html {
    scroll-behavior: smooth;
}

/* 
 get rid of padding & sizing on body so
 header is at top
*/
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* add some padding back to rest of page */
main {
    padding: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Navbar */
.navbar {
    background-color: #7a64e4;
    color: #080032;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding: 1rem;
    width: 100%;
    position: relative;
}

/* navigation list */
.navbar-links {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #7a64e4;
    width: 100%;
}

.navbar-links li {
    list-style: none;
    padding: 0.5em 0;
}

.navbar-links a {
    color: #080032;
    background-color: #7a64e4;
    font-size: 2rem;
    padding: 1rem 1.25rem;
    letter-spacing: 2px;
    text-decoration: none;
    display: block;
}

/* Styling for hamburger icon */
.hamburger {
    display: block;
    cursor: pointer;
    float: right;
    padding: 18px 20px; /* Adjust padding for size */
    position: relative;
}

/* Styling for bars in the hamburger icon */
.bar {
    width: 30px; /* Adjust width for size */
    height: 4px; /* Adjust height for size */
    background-color: #fff;
    margin: 6px 0;
}

/* Toggle effect */
.hamburger:focus + .navbar-links,
.hamburger:target + .navbar-links {
    display: block;
}