/* make scrolling smooth */
html {
    scroll-behavior: smooth;
}

/* 
 get rid of padding & sizing on body so
 header is at top
*/
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* add some padding back to rest of page */
main {
    padding: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Navbar */
.navbar {
    background-color: #7a64e4;
    color: #080032;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding: 1rem;
    width: 100%;
    position: relative;
}

.navbar-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none; /* Hide by default */
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #7a64e4;
    width: 100%;
}

.navbar-links li {
    text-align: center;
    margin-bottom: 1rem; /* Add some space between links */
}

.navbar-links a {
    color: #080032;
    text-decoration: none;
    transition: color 0.3s ease;
    display: block; /* Ensure links are displayed as blocks */
}

.navbar-links a:hover {
    color: #fff;
}

/* Hamburger Icon */
.hamburger {
    display: block; /* Show by default */
    cursor: pointer;
    padding: 18px 20px; /* Adjust padding for size */
    position: relative;
}

/* Styling for bars in the hamburger icon */
.bar {
    width: 30px; /* Adjust width for size */
    height: 4px; /* Adjust height for size */
    background-color: #fff;
    margin: 6px 0;
}

/* Toggle effect */
.hamburger:focus + .navbar-links,
.hamburger:target + .navbar-links {
    display: block; /* Show the links when hamburger is clicked */
}

/* Media query for hamburger icon */
@media screen and (min-width: 769px) {
    .navbar-links {
        display: flex; /* Show the links by default on larger screens */
        position: static;
        background-color: transparent;
    }

    .hamburger {
        display: none; /* Hide the hamburger icon on larger screens */
    }
}

/* Media query for hamburger icon */
@media screen and (max-width: 768px) {
    .navbar-links {
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #7a64e4;
        width: 100%;
    }

    .navbar-links.active {
        display: flex; /* Show the links when active */
        flex-direction: column;
        align-items: center;
    }

    .hamburger {
        display: block;
    }
}