*/* Navbar */
.navbar {
    background-color: #7a64e4;
    color: #080032;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding: .5rem;
    width: 100%;
    position: relative;
}

/* navigation list */
.navbar-links {
    display:block;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #7a64e4;
    width: 100%;
}

.navbar-links li {
    list-style:none;
    padding: 0.5em 0;
}

.navbar-links a {
    color: #080032;
    background-color: #7a64e4;
    font-size: 2rem;
    padding: 1rem 1.25rem;
    letter-spacing: 2px;
    text-decoration: none;
    display: block;
}

section{margin-bottom: 2rem;}


