body {
  font-family: "inconsolata";
  background-color: #62abd2;
  color: #430b7f;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Bebas Neue";
  text-align: center;
  font-size: 40pt;
}

header {
  text-align: center;
}

#hero,
footer {
  color: #080032;
  background-color: #7a64e4;
  border: 2px solid #b4f56d;
  text-align: center;
  padding: 10px;
}

h2 {
  margin: .1em;
}

/* Hero Section */
#hero img {
  width: 300px;
}

/* Bio Section */
#bio {
  text-align: center;
  padding: 20px;
}

/* Hobbies Section*/
#hobbies ul li:nth-child(even) {
  color: #a160e6;
}

section#hobbies {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* Gallery Section*/
#gallery {
  border: 2px solid;
  border-color: #b4f56d;
  margin-bottom: 2rem;
  padding: 20px;
}

#gallery img {
  max-width: 100%;
}

#gallery figure {
  text-align: center;
}

/* Literature Section*/
#lit {
  border: 2px solid #b4f56d;
  margin-bottom: 2rem;
  padding: 20px;
}

#lit div {
  padding: 2rem;
  max-width: 40rem;
  margin: 0 auto;
}

#lit div p {
  padding: 0.3rem 0;
  clear: both;
}

/* Dropcaps Section */
#lit div p:nth-child(3n+1):first-letter {
  color: darkblue;
  float: left;
  font-size: 3em;
  line-height: 0.65em;
  border: 4px solid black;
  font-family: "Bebas Neue";
  margin-right: .25em;
  padding: .25em;
  border: 2px solid #b4f56d;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, .5);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
  border-top-left-radius: .2em;
  border-bottom-right-radius: .2em;
  background-image: radial-gradient(white, gray);
  font-size: 3em;
}

/* Video Section */
#myVideo {
  margin: 20px 0;
  position: absolute;
  text-align: center;
  background-color: #7a64e4;
  color: #080032;
  border: 2px solid #b4f56d;
  padding: 10px;
}

#myVideo iframe {
  width: 100%;
  height: 100%; justify-self: center;
}

#myVideo .caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 14px;
}

/* Tablet Size */
@media screen and (min-width:60em) {
  #myVideo {
    margin: 20px auto;
    max-width: 60%;
  }
}

/* Large Screen Size */
@media screen and (min-width:100em) {
  #myVideo {
    margin: 20px auto;
    max-width: 80%;
  }
}

/* Contacts Form */
#formelements {
  display: grid;
  row-gap: .5em;
  padding: 20px;
}

#contact {
  padding: 1em;
  max-width: 600px;
  margin: 2em auto;
}

fieldset {
  border: 2px solid #b4f56d;
  margin-top: 1em;
  margin-bottom: 1em;
}

legend {
  background: #b4f56d;
  color: #080032;
  padding: 0.5em;
}

#contact Input,
#contact textarea,
#contact select,
#contact button {
  padding: .5em;
  font-size: 1rem;
}

#contact ul {
  list-style: none;
  padding: 0px;
}

#contact li {
  margin: 1rem;
}

#contact button {
  background-color: #7a64e4;
  color: #080032;
  border: 1px solid #b4f56d;
  max-width: 400px;
  width: 50%;
  justify-self: center;
}


/* CSS for Zoom Effect */
#lit img {
  transition: transform 0.3s ease; height: auto; width: 200px; display: block;margin: auto 0;
}

#lit img:hover {
  transform: scale(1.1);
}
/* Hamburger Icon */
.hamburger {
  display: none; /* Hide by default */
  cursor: pointer; /* Show pointer cursor on hover */
  float: right; /* Float to the right */
  padding: 14px 16px; /* Padding for the icon */
}

/* Styling for bars in the hamburger icon */
.bar {
  width: 25px; /* Width of each bar */
  height: 3px; /* Height of each bar */
  background-color: #fff; /* Color of the bars */
  margin: 6px 0; /* Margin between bars */
}

/* Media query for hamburger icon */
@media screen and (max-width: 768px) {
  .navbar-links a:not(:first-child) {display: none;} /* Hide all links except the first one */
  .navbar-links a.hamburger {
      float: right; /* Align hamburger icon to the right */
      display: block; /* Show the hamburger icon */
  }
}