body {
  font-family: "inconsolata";
  background-color: #62abd2;
  color: #430b7f;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Bebas Neue";
  text-align: center;
  font-size: 40pt;
}

header {
  text-align: center;
}

#hero,
footer {
  color: #080032;
  background-color: #7a64e4;
  border: 2px solid #B4f56D;
  text-align: center;
  padding: 10px;
}

h2 {
  margin: .1em;
}

/* Hero Section */
#hero img {
  width: 300px;
}

/* Bio Section */
#bio {
  text-align: center;
}

/* Hobbies Section*/
#hobbies ul li:nth-child(even) {
  color: #a160e6;
}

section#hobbies {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Gallery Section*/
#gallery {
  border: 2px solid;
  border-color: #B4f56D;
  margin-bottom: 2rem;
}

#gallery img {
  max-width: 100%;
}

#gallery figure {
  text-align: center;
}

/* Literature Section*/
#lit {
  border: 2px solid #B4f56D;
  margin-bottom: 2rem;
}

#lit div {
  padding: 2rem;
  max-width: 40rem;
  margin: 0 auto;
}

#lit div p {
  padding: 0.3rem 0;
  clear: both;
}

/* Dropcaps Section */
#lit div p:nth-child(3n+1):first-letter {
  color: darkblue;
  float: left;
  font-size: 3em;
  line-height: 0.65em;
  border: 4px solid black;
  font-family: "bebas neue";
  margin-right: .25em;
  padding: .25em;
  border: 2px solid #B4f56D;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, .5);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
  border-top-left-radius: .2em;
  border-bottom-right-radius: .2em;
  background-image: radial-gradient(white, gray);
  font-size: 3em;
}

/* Video Section */
#myVideo {
  margin: 20px 0;
  position: relative;
  text-align: center;
  background-color: #7a64e4;
  color: #080032;
  border: 2px solid #B4f56D;
  padding: 10px;
}

#myVideo iframe {
  width: 100%;
  height: 100%;
}

#myVideo .caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 14px;
}

/* Tablet Size */
@media screen and (min-width:60em) {
  #myVideo {
    margin: 20px auto;
    max-width: 60%;
  }
}

/* Large Screen Size */
@media screen and (min-width:100em) {
  #myVideo {
    margin: 20px auto;
    max-width: 80%;
  }
}